nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 3em;
    font-size: 1.2em;
}
nav a{
    color: black;
}
nav li{
    flex: 1;
    text-align: center;
}
nav li:not(:last-of-type) {
    border-right: 1px solid black;
}
nav li:first-of-type img{
    height: 2.2em;
}
nav li:first-of-type a{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#navline{
    margin-bottom: 1em;
}