<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    <div class="wrapper">
        <nav>
            <li>
                <a href="/"><span>Bo</span>oky</a>
                <div id="logo-border"></div>
            </li>
            <li><a href="/profile"></a>Profile</a></li>
            <li><a href="/books"></a>Books</a></li>
            <li><a href="/clubs"></a>Clubs</a></li>
        </nav>
        <hr id="navline">
        {% block main %}
        {% endblock %}
    </div>
</body>
</html>